<div class="px-4 py-5 my-5 text-center">
  <%= render partial: "shared/applogo" %>
  <h1 class="display-5 fw-bold">SpendTrac App</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Keep track of your daily spending. SpendTrac made it all easy direct from your mobile phone.</p>

    <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
      <%= link_to "Log In", new_user_session_path, class: "btn btn-primary btn-lg px-4 gap-4" %> 
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-secondary btn-lg px-4" %> 
    </div>
  </div>
</div>

